=begin
#Fetch Hive Public API

#The Fetch Hive public API lets you invoke prompts, workflows, and agents programmatically using an API token.  ## Authentication All requests require a Bearer token in the `Authorization` header: ``` Authorization: Bearer <your-api-token> ```  ## Streaming Pass `\"streaming\": true` in the request body to receive a `text/event-stream` response. Each event is a JSON object sent as `data: <json>\\n\\n`. The stream ends with `data: [DONE]\\n\\n`. 

The version of the OpenAPI document: 0.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module FetchHive::Generated
  class AgentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Invoke an agent
    # Sends a message to a configured agent and returns its response. Agents can use tools, maintain conversation history via `thread_id`, or accept ephemeral history via the `messages` field.  Set `streaming: true` to receive a Server-Sent Events stream. Each `data:` line contains a JSON object of type `SseChunk`.  Image URLs can be supplied in `image_urls` for multimodal inputs (must be HTTPS). 
    # @param invoke_agent_request [InvokeAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InvokeAgentResponse]
    def invoke_agent(invoke_agent_request, opts = {})
      data, _status_code, _headers = invoke_agent_with_http_info(invoke_agent_request, opts)
      data
    end

    # Invoke an agent
    # Sends a message to a configured agent and returns its response. Agents can use tools, maintain conversation history via &#x60;thread_id&#x60;, or accept ephemeral history via the &#x60;messages&#x60; field.  Set &#x60;streaming: true&#x60; to receive a Server-Sent Events stream. Each &#x60;data:&#x60; line contains a JSON object of type &#x60;SseChunk&#x60;.  Image URLs can be supplied in &#x60;image_urls&#x60; for multimodal inputs (must be HTTPS). 
    # @param invoke_agent_request [InvokeAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvokeAgentResponse, Integer, Hash)>] InvokeAgentResponse data, response status code and response headers
    def invoke_agent_with_http_info(invoke_agent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.invoke_agent ...'
      end
      # verify the required parameter 'invoke_agent_request' is set
      if @api_client.config.client_side_validation && invoke_agent_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoke_agent_request' when calling AgentsApi.invoke_agent"
      end
      # resource path
      local_var_path = '/agent/invoke'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoke_agent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InvokeAgentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.invoke_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#invoke_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
