=begin
#Fetch Hive Public API

#The Fetch Hive public API lets you invoke prompts, workflows, and agents programmatically using an API token.  ## Authentication All requests require a Bearer token in the `Authorization` header: ``` Authorization: Bearer <your-api-token> ```  ## Streaming Pass `\"streaming\": true` in the request body to receive a `text/event-stream` response. Each event is a JSON object sent as `data: <json>\\n\\n`. The stream ends with `data: [DONE]\\n\\n`. 

The version of the OpenAPI document: 0.2.5

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module FetchHive::Generated
  class WorkflowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Invoke a workflow deployment
    # Runs a configured workflow deployment. Supports both synchronous and asynchronous execution via the `async` field.  When `async.enabled` is `false` (default), the request blocks until the workflow completes and returns the output directly.  When `async.enabled` is `true`, the server returns a `202` with a `run_id`. Poll `GET /v1/workflow_runs/{id}` on the management API to check status. 
    # @param invoke_workflow_request [InvokeWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InvokeWorkflowResponse]
    def invoke_workflow(invoke_workflow_request, opts = {})
      data, _status_code, _headers = invoke_workflow_with_http_info(invoke_workflow_request, opts)
      data
    end

    # Invoke a workflow deployment
    # Runs a configured workflow deployment. Supports both synchronous and asynchronous execution via the &#x60;async&#x60; field.  When &#x60;async.enabled&#x60; is &#x60;false&#x60; (default), the request blocks until the workflow completes and returns the output directly.  When &#x60;async.enabled&#x60; is &#x60;true&#x60;, the server returns a &#x60;202&#x60; with a &#x60;run_id&#x60;. Poll &#x60;GET /v1/workflow_runs/{id}&#x60; on the management API to check status. 
    # @param invoke_workflow_request [InvokeWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvokeWorkflowResponse, Integer, Hash)>] InvokeWorkflowResponse data, response status code and response headers
    def invoke_workflow_with_http_info(invoke_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.invoke_workflow ...'
      end
      # verify the required parameter 'invoke_workflow_request' is set
      if @api_client.config.client_side_validation && invoke_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'invoke_workflow_request' when calling WorkflowsApi.invoke_workflow"
      end
      # resource path
      local_var_path = '/workflow/invoke'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invoke_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InvokeWorkflowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.invoke_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#invoke_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
